@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */

@layer utilities {
  .btn {
    @apply text-white font-bold py-2 px-4 rounded;
  }
}

body {
  --tw-bg-opacity: 1;
  background-color: hsla(188.2, 68%, 4.9%, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsla(210, 40%, 98%, var(--tw-text-opacity));
}
